WpfUI/Connected Services/ServiceReference/BookStoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookStoreService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookStoreService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAuthor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfAvailabilityBooks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailabilityBooks" nillable="true" type="tns:AvailabilityBooks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailabilityBooks" nillable="true" type="tns:ArrayOfAvailabilityBooks" />
  <xs:complexType name="AvailabilityBooks">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aithors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StoreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityBooks" nillable="true" type="tns:AvailabilityBooks" />
  <xs:complexType name="ArrayOfAvailabilityBooksInStore_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailabilityBooksInStore_Result" nillable="true" type="tns:AvailabilityBooksInStore_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailabilityBooksInStore_Result" nillable="true" type="tns:ArrayOfAvailabilityBooksInStore_Result" />
  <xs:complexType name="AvailabilityBooksInStore_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailabilityBooksInStore_Result" nillable="true" type="tns:AvailabilityBooksInStore_Result" />
</xs:schema>